<h3>Selected Items</h3>
<div *ngIf="selectedItem">
  <h2>
    {{selectedItem.name | uppercase}} is my item
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div class="row grid-container">
  <div class="col-md-10">
    <div class="table">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th cm-sort-by="name" (sorted)="sort($event)">Name</th>
          <th cm-sort-by="description" (sorted)="sort($event)">Description</th>
          <th cm-sort-by="country" (sorted)="sort($event)">Country</th>
          <th cm-sort-by="weight" (sorted)="sort($event)">Weight</th>
          <th cm-sort-by="normalPrice" (sorted)="sort($event)">Price</th>
          <th (click)="sort('orderTotal')">Quantity</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items" [routerLink]="['/items',item.id]">
          <td><img src="item.imageUrl" class="grid-image" alt=""/></td>
          <td>{{ item.name | capitalize }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.country| trim }}</td>
          <td>{{ item.weight }}</td>
          <td>{{ item.normalPrice }}</td>
          <td>{{ item.orderQuantity }}</td>
          <!--<td><a [routerLink]="['/items',item.id]">View Item</a></td>-->
          <button class="delete" (click)="removeItemFromOrderList(item); $event.stopPropagation()">x</button>
        </tr>
        <tr *ngIf="!items.length">
          <td>&nbsp;</td>
          <td colspan="7">No items selected.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h3>User Details</h3>

<div class="col-md-6">
<form [formGroup]="userDetailForm" novalidate (ngSubmit)="sendOrderList(userDetailForm.value, userDetailForm.valid)">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" formControlName="name">
    <small [hidden]="userDetailForm.controls.name.valid || (userDetailForm.controls.name.pristine && !submitted)" class="text-danger">
      Name is required (minimum 5 characters).
    </small>
  </div>

  <div class="form-group">
    <label for="">Facebook</label>
    <input type="http" class="form-control" formControlName="facebook">
    <small [hidden]="userDetailForm.controls.facebook.valid || (userDetailForm.controls.facebook.pristine && !submitted)" class="text-danger">
      Facebook profile is required and must be valid.
    </small>
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" formControlName="email">
    <small [hidden]="userDetailForm.controls.email.valid || (userDetailForm.controls.email.pristine && !submitted)" class="text-danger">
      Email is not valid.
    </small>
  </div>

  <div class="form-group">
    <label for="">Phone</label>
    <input type="text" class="form-control" formControlName="phone">
    <small [hidden]="userDetailForm.controls.phone.valid || (userDetailForm.controls.phone.pristine && !submitted)" class="text-danger">
      Phone is required and must be valid.
    </small>
  </div>

  <div class="form-group">
    <label for="">Address</label>
    <input type="text" class="form-control" formControlName="address">
    <small [hidden]="userDetailForm.controls.address.valid || (userDetailForm.controls.address.pristine && !submitted)" class="text-danger">
      Address is required.
    </small>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>