<br>
<div class="row">
  <div class="col-xs-8">
    <item-search></item-search>
  </div>
  <div class="col-xs-4">
    <label>Category: </label>
    <select (change)="onSelect($event.target.value)">
      <option value="0">All</option>
      <option *ngFor="let itemCategory of itemCategories" value={{itemCategory}}>{{itemCategory}}</option>
    </select>
  </div>
</div>

<div class="row grid-container">
  <div class="col-md-10">
    <div class="table">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th cm-sort-by="name" (sorted)="sort($event)">Name</th>
          <th cm-sort-by="description" (sorted)="sort($event)">Description</th>
          <th cm-sort-by="country" (sorted)="sort($event)">Country</th>
          <th cm-sort-by="weight" (sorted)="sort($event)">Weight (gram)</th>
          <th cm-sort-by="normalPrice" (sorted)="sort($event)">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of filteredItems | async" [routerLink]="['/items',item.id]">
          <td><img src="{{item.imageUrl}}" class="grid-image" alt=""/></td>
          <td>{{ item.name | capitalize }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.country| trim }}</td>
          <td>{{ item.weight }}</td>
          <td>{{ item.normalPrice }}</td>
        </tr>
        <tr *ngIf="!filteredItems.length">
          <td>&nbsp;</td>
          <td colspan="7">No items found.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
