<div *ngIf="item">


  <div class="row">
    <div class="col-xs-6">
      <div class="container">
        <div class="row">
          <h2>
            <div class="col-md-12">{{item.name}}</div>
          </h2>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">Weight:</div>
          <div class="col-md-4">{{item.weight}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">Country:</div>
          <div class="col-md-4">{{item.country}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">Normal Price:</div>
          <div class="col-md-4">{{item.normalPrice}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">Description:</div>
          <div class="col-md-4">{{item.description}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">Quantity to order:</div>
          <div class="col-md-2"><input type="number" class="form-control" [(ngModel)]="orderQuantity"></div>
        </div>
        <div>
          <small [hidden]="isOrderQuantityValid()" class="text-danger">
            Item quantity is invalid.
          </small>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <img src="http://www.freepngimg.com/thumb/apple/13-png-apple-image-clipart-transparent-png-apple-thumb.png">
    </div>
  </div>


  <button (click)="goBack()">Back</button>
  <button (click)="addToOrderList()">Add to Cart</button>
</div>
<br>
<div>
  <span [hidden]="!isItemAlreadyAdded" class="text-danger">
    This item has been added. Please go to your order list to update its quantity.
  </span>
</div>