<div id="search-component">
  <input #searchBox id="search-box" class="form-control ng-pristine ng-valid" (keyup)="search(searchBox.value)" placeholder= "Search..."/>
  <div>
    <div *ngFor="let item of items | async"
         (click)="gotoDetail(item)" class="search-result" >
      {{item.name}}
    </div>
  </div>
</div>